/* Yleiset tyylit */
body {
    font-family: 'Playfair Display', serif;
    background-color: #2C3E50;
    color: #DED7C7;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Ylätunniste */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2C3E50;
}

nav a {
    color: #DED7C7;
    text-decoration: none;
    margin: 0 15px;
}

/* Hero-osio */
.hero {
    position: relative;
    text-align: center;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    background: rgba(0, 0, 0, 0.0);
    padding: 0px;
    color: white;
}

/* Painike */
.button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #5B4B3F;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* Kuvakortit */
.content {
    padding: 20px;
}

.content img {
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

/* Alatunniste */
footer {
    background-color: #5B4B3F;
    padding: 20px;
    margin-top: 20px;
}